## If your Emacs is installed in a non-standard location, you may need
## to copy this file to a standard directory, eg ~/.config/systemd/user/ .
## If you install this file by hand, change the "Exec" lines below
## to use absolute file names for the executables.
[Unit]
Description=Rust Bell

[Service]
ExecStart=/home/ANT.AMAZON.COM/kllyter/.local/bin/rust-bell
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
