[Unit]
Description=Notmuch Service
Documentation=man:notmuch(1)

[Service]
ExecStart=/home/ANT.AMAZON.COM/kllyter/dotfiles/work/email_script.fish
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target