[Unit]
Description=Offlineimap Service for account amazon (oneshot)
Documentation=man:offlineimap(1)

[Service]
Type=oneshot
ExecStart=/home/ANT.AMAZON.COM/kllyter/.local/bin/offlineimap -o -a amazon -u basic
# Give 120 seconds for offlineimap to gracefully stop before hard killing it.
TimeoutStopSec=120

[Install]
WantedBy=default.target
