# LocalForward Client:PORT Remote:PORT
AddKeysToAgent yes

Host *
     IgnoreUnknown AddKeysToAgent,UseKeychain
     AddKeysToAgent yes
     UseKeychain yes

Host bb
     HostName bitbucket.org
     User git
     IdentityFile ~/.ssh/bitbucket/id_rsa

Host github
     HostName github.com
     User git
     IdentityFile ~/.ssh/github/id_rsa

Host aetius
     HostName 192.168.0.101
     User lyterk

Host nuc
     HostName lyterk.com
     Port 22
     User lyterk
     IdentityFile ~/.ssh/nuc/id_rsa

Host backup
     HostName lyterk.com
     Port 22
     User backup
     IdentityFile ~/.ssh/backup/id_rsa

Host gitserv
     HostName lyterk.com
     Port 22
     User git
     IdentityFile ~/.ssh/git/id_rsa

Host gitserv_no_password
     HostName fd35:c192:ce9b:fbd0:e799:93a3:686b:d38e
     Port 4222
     User git
     IdentityFile ~/.ssh/git/id_rsa

Host backup
     HostName lyterk.com
     Port 22
     User backup
     IdentityFile ~/.ssh/backup/id_rsa


Host bitbucket
     HostName bitbucket.com
     User txru
     IdentityFile ~/.ssh/bitbucket/id_rsa

Host remarkable
     HostName 10.11.99.1
     User root
     IdentityFile ~/.ssh/remarkable/id_rsa

Host pihole
     HostName 192.168.0.23
     User pi
