# LocalForward Client:PORT Remote:PORT
AddKeysToAgent yes

Host *
     IgnoreUnknown AddKeysToAgent,UseKeychain
     AddKeysToAgent yes
     UseKeychain yes

Host github
     HostName github.com
     User git
     IdentityFile ~/.ssh/github/id_rsa

Host gitlab
     HostName gitlab.com
     User git
     IdentityFile ~/.ssh/gitlab/id_rsa

Host nuc
     HostName txru.me
     Port 65222
     User lyterk
     IdentityFile ~/.ssh/nuc/id_ed25519

Host plexproxy
     HostName txru.me
     User lyterk
     Port 22
     IdentityFile ~/.ssh/sudo_nuc/id_rsa
     RemoteForward 127.0.0.1:8080 lyterk.com:32400

Host localnuc
     HostName 192.168.0.42
     Port 22
     User lyterk
     IdentityFile ~/.ssh/nuc/id_ed25519

Host backup
     HostName txru.me
     Port 22
     User backup
     IdentityFile ~/.ssh/backup/id_rsa

Host gitserv
     HostName txru.me
     Port 65222
     User git
     IdentityFile ~/.ssh/nuc/id_ed25519

Host backup
     HostName txru.me
     Port 22
     User backup
     IdentityFile ~/.ssh/backup/id_rsa

Host remarkable
     HostName 10.11.99.1
     User root
     IdentityFile ~/.ssh/remarkable/id_rsa
     PubkeyAcceptedKeyTypes +ssh-rsa
     HostKeyAlgorithms +ssh-rsa

# Raspberry Pi Hosts

# Host pihole
#      HostName 172.24.54.83
#      User pi
#      Port 4222
#      IdentityFile ~/.ssh/pi/id_rsa

Host music
     HostName 172.24.237.69
     User pi
     Port 4222
     IdentityFile ~/.ssh/pi/id_rsa

Host pihole
     HostName 192.168.192.136
     User pi
     Port 4222
     IdentityFile ~/.ssh/pi/id_rsa
