Host *dev-dsk-kllyter*.amazon.com
     ProxyCommand none

Host desk2
     Hostname dev-dsk-kllyter-1a-acaac16d.us-east-1.amazon.com
     User kllyter

Host desk
     Hostname kllyter-cloud.corp.amazon.com
     User kllyter

Host bb
	HostName bitbucket.org
	User txru
	IdentityFile ~/.ssh/bitbucket/id_rsa

Host fsoqa
     HostName dev-dsk-kllyter-2c-2e8d6144.us-west-2.amazon.com

Host sde-alpha
     HostName sde-alpha-2c-39af585b.us-west-2.amazon.com


Host sdm-alpha
     HostName sdm-alpha-2b-7cc5276f.us-west-2.amazon.com

Host sde-beta
     HostName sde-devo-jp-2a-c47ca227.us-west-2.amazon.com

Host nuc
     HostName tyoras.com
     Port 22
     User lyterk
     IdentityFile ~/.ssh/nuc/id_rsa

Host gitserv
     HostName tyoras.com
     Port 22
     User git
     IdentityFile ~/.ssh/git/id_rsa

Include ubuntu.ssh.config
