Host *dev-dsk-kllyter*.amazon.com
     ProxyCommand none

Host desk2
     Hostname dev-dsk-kllyter-1a-acaac16d.us-east-1.amazon.com
     User kllyter

Host desk
     Hostname kllyter-cloud.corp.amazon.com
     User kllyter

Host bb
	HostName bitbucket.org
	User txru
	IdentityFile ~/.ssh/bitbucket/id_rsa

Host sde-alpha
     HostName sde-alpha-2c-39af585b.us-west-2.amazon.com

Include ubuntu.ssh.config
